.block {
    position: absolute;
    z-index: 9;
    background-color: #f0f0f0;
    border: 1px solid #dddddd;
    text-align: center;
}

.block-header {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #222222;
    color: #000fff;
}
